body {
  background-color: #333;
  display: flex;
}

div.keys {
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(3, auto);
}

div.keys > div.key {
  background-color: #666;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height:20px;
  border-radius:3px;
  margin:5px;
  /* font-size:1rem; */
  display: flex;
  justify-content:center;
  align-items:center;
  padding:3px;
  transition: border-width 0.1s linear;
  white-space: nowrap;
}